* {
    box-sizing: border-box;
}

body {
    background-color: #020F17;
    margin: 0;
}

.content {
    background-color: #2B4E53;
    width: 75%;
    margin: 0 auto;
    border-radius: 4%;
    padding: 1rem;
}

header {
    display: flex;
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #01080D;
    border-radius: 1%;
    background-image: url('../CSS/Images/banner-5185316_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;

}

header h1 {
    position: relative;
    margin-left: 1rem;
    padding-top: 0.2rem;
    width: fit-content;
    color: white;
}

nav {
    align-self: flex-end;
    height: fit-content;

}

nav ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    margin-right: 0.5rem;
    align-items: flex-end;
    margin-bottom: 0.4rem;
    margin-top: 0;
    flex-wrap: wrap;
}

nav ul li {
    height: 75%;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    background-color: #51989E;
    padding: 0.5rem;
    width: 6em;
    margin: 0;
    border-radius: 10px;
}

nav ul li a:visited {
    background-color: #192F31;
    color: rgb(196, 27, 238);
}

nav ul li a:hover {
    background-color: #366468;
    color: blue;
}

nav ul li a:active {
    background-color: #234245;
}

@media only screen and (width < 550px) {
    header {
        height: 7rem;
    }

    header h1 {
        width: 10.07rem;
    }
}

@media only screen and (width < 473px) {
    .topList {
        padding-bottom: 33px;
    }

    nav li {
        padding-right: 1rem;
    }
}

@media only screen and (width < 370px) {
    nav {
        display: none;
    }
}

/* main content */
.content {
    color: white;
}

.divider {
    border-bottom: 5px solid black;
}

@media only screen and (width < 870px) {

    .fortuneProject figure img,
    .fortuneProject figure figcaption {
        display: none;
    }
}


/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #01080D;
    color: #fff;
}

footer .name {
    padding-left: 2%;
}

footer .email {
    padding-right: 2%;
}

footer p a {
    color: white;
}

footer p a:visited {
    color: white;
}

@media only screen and (width < 410px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding: 0.3rem;
    }
}