<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header>
        <h1>Jason Fitzgerald</h1>
        <nav>
            <ul>
                <li href="#about">About Me</li>
                <li href="#projects">Projects</li>
                <li href="#skills">Skills</li>
                <li href="#contact">Contact</li>
            </ul>
        </nav>
    </header>
    <section class="about">

    </section>
    <section class="projects">

    </section>
    <section class="skills">

    </section>
</body>

<footer class="contact">

</footer>
<script src="../JavaScript/javascript.js"></script>

</html>